<div id="single-mail-view " ng-controller="MessageViewController as messageViewCtrl">


    <div id="toolBar" style="margin-top: 10px; margin-bottom: 10px;">

        <div class="panel panel-info">

            <div class="panel-heading clearfix" style="padding: 4px 4px; TODO:barry-move-this-to-css;">
                <button id="backButton" class="btn btn-default btn-sm pull-left"
                        onclick="history.back()">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </button>
                <h4 class="pull-left" style="margin: 6px 0 0 10px; padding: 0; TODO:barry-move-this-to-css;">
                    {{messageViewCtrl.message.subject}}</h4>

                <div class="btn-group pull-right">
                    <button id="fwdButton" class="btn btn-primary btn-sm">
                        Forward <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <table class="table table-condensed">
                <tr>
                    <th class="col-sm-1">From:</th>
                    <td class="col-sm-9">{{messageViewCtrl.message.senderEmail}}</td>
                    <td class="col-sm-2">{{messageViewCtrl.message.receivedDate | date:'short'}}</td>
                </tr>
                <tr>
                    <th>To:</th>
                    <td colspan="2">{{messageViewCtrl.message.recipients}}</td>
                </tr>
            </table>

            <div class="panel-body" style="padding:5px 0 0 0; TODO:barry-move-this-to-css;">
                <uib-tabset active="activeForm" class="mail-summary">

                    <uib-tab id="0" heading="Contents" ng-if="messageViewCtrl.message.messageHasBodyHTML">
                        <iframe class="mail-summary-content mail-summary-content-html"
                                src="{{messageViewCtrl.messageHTMLURL}}"></iframe>
                    </uib-tab>

                    <uib-tab id="1" heading="Text Body" ng-if="messageViewCtrl.message.messageHasBodyText">
                        <iframe class="mail-summary-content mail-summary-content-pre"
                                src="{{messageViewCtrl.messageTextURL}}"></iframe>
                    </uib-tab>

                    <uib-tab id="2" heading="Original Message" ng-if="true">
                        <iframe class="mail-summary-content mail-summary-content-pre"
                                src="{{messageViewCtrl.messageRawURL}}"></iframe>
                    </uib-tab>

                </uib-tabset>
            </div>


        </div>


    </div>


</div>